body {
   background: url(/imgs/programming_code_back.jpg);
}

h1 {
	color: var(--orange);
	margin-top:40px;
	/* text-shadow: -2px 2px 0 #fff, -6px 7px 0 #0a0e27; */
}

h4 {
	color: var(--orange);
	/* text-shadow: -2px 2px 0 #fff, -6px 7px 0 #0a0e27; */
}

.container {
	background-color: rgba(0,0,0,.5);
	margin-left: 30px;
	color: #20f72b;
}

.container::before {
	z-index: -1;
	opacity: 50%;
}

.just-left {
	text-align: left;
}